/* Homepage 1 */
.hero-section {
  .title {
    .colored {
      font-weight: 700;
      color: $red-color;
    }
  }
}

// hero section
.hero-section {
  padding-top: 236px;
  padding-bottom: 570px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  z-index: 0;
  @include tablet {
    padding-bottom: 220px;
  }
  @include sm-device {
    padding-bottom: 180px;
  }
  .address-wrapper {
    background: $white-color;
    padding: 12px 30px;
    border-radius: 5px;
    position: relative;
    z-index: 9999;
    @include sm-device {
      flex-wrap: wrap;
      padding: 30px;
    }
  }
  .address-inpute {
    border: 3px solid #ffebe7;
    padding: 22px 30px;
    border-radius: 10px;
  }
  .address-inpute:focus {
    border: 3px solid #ffebe7;
    box-shadow: initial;
  }
  .adrs-btn {
    margin-left: 30px;
    padding: 15px 20px;
    @include sm-device {
      margin-left: auto;
      margin-right: auto;
      margin-top: 20px;
    }
  }
  .label {
    font-size: 12px;
    background: $white-color;
    position: absolute;
    top: 3px;
    left: 55px;
    color: #3e3e3e;
    @include sm-device {
      top: 20px;
    }
  }

  .main-hero-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: initial;
    @include tablet {
      display: none;
    }
    @include sm-device {
      display: none;
    }
  }
  .vec1 {
    position: absolute;
    top: 38%;
    right: 0;
    width: initial;
    @include sm-device {
      display: none;
    }
  }
  .vec2 {
    position: absolute;
    bottom: -30px;
    left: 0;
    width: initial;
    z-index: 14;
    @include sm-device {
      display: none;
    }
  }

  .hero-content {
    .colored {
      color: $red-color;
    }
  }
}

// about-section
.about-section {
  padding-top: 145px;
  padding-bottom: 145px;
  @include sm-device {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

// brand section
.brand-section {
  padding-bottom: 150px;
  @include sm-device {
    padding-bottom: 90px;
  }
}

// single brand
.single-brand {
  position: relative;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.07);
  overflow: hidden;
  .brand-img {
    transition: 0.3s;
  }
  .cont-wrapper {
    padding: 25px 10px;
  }
  .make-time {
    background-color: $white-color;
    border-radius: 5px;
    padding: 8px 8px 0px 8px;
    position: absolute;
    top: 15px;
    right: 15px;
    text-align: center;
    z-index: 11;
    .title {
      font-family: $roboto;
      margin-bottom: 0;
      padding-bottom: 5;
      line-height: 0;
      margin-top: 5px;
    }
    .min {
      font-size: 12px;
      text-transform: uppercase;
      color: $red-color;
      padding: 0;
      line-height: 0;
      margin-top: 17px;
      display: inline-block;
    }
  }
  .cat-title {
    margin-top: 10px;
    font-family: $roboto;
  }
  a {
    h6 {
      transition: 0.3s;
      &:hover {
        color: $red-color;
      }
    }
  }

  &:hover {
    .brand-img {
      transform: scale(1.05);
    }
  }
}
.rattings {
  font-size: 12px;
  color: $red-color;
  font-weight: 500;
}
// location section
.location-section {
  padding-bottom: 150px;
  @include sm-device {
    padding-bottom: 100px;
  }
}
.single-location {
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 40px 0px rgba(0, 0, 0, 0.07);
  height: 322px;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  transition: 0.3s;
  transform: scale();
  .first-letter {
    text-transform: uppercase;
    font-size: 150px;
    color: rgba($red-color, 0.5);
    font-weight: 900;
    position: absolute;
    left: -22px;
    bottom: -50px;
    z-index: 0;
    text-transform: uppercase;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
  }
  .title {
    color: $white-color;
    font-weight: 700;
    padding-right: 20px;
    position: relative;
    z-index: 1;
  }
  .btn1 {
    position: absolute;
    right: 30px;
    padding: 10px !important;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    line-height: 1;
    i {
      font-size: 18px;
    }
  }

  // hover
  &:hover {
    transform: scale(1.02);
    .first-letter {
      opacity: 1;
      visibility: visible;
      left: 8px;
    }
    .btn1 {
      opacity: 1;
      visibility: visible;
    }
    .btn1:hover {
      border: 1px solid $white-color !important;
      color: $white-color !important;
    }
  }
}
// contact-section
.contact-section {
  padding-top: 145px;
  padding-bottom: 145px;
  background: $pink-lite;
  @include sm-device {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

// cities-brand-section
.cities-brand-section {
  padding-top: 140px;
}

.single-restaurant-addrs-input {
  width: 66%;
  @include mobile-device {
    width: 53%;
  }
}

// delivery-content-section
.delivery-content-section {
  padding-bottom: 140px;
}
.single-address-wrapper {
  .single-restaurant-addrs-input {
    @include sm-device {
      width: 100%;
    }
  }
}

// divider wrapper
.divider-wrapper {
  padding-top: 90px;
}
// banner section
.red-badge {
  background: $red-color;
  color: $white-color;
  font-weight: 500;
  font-family: $roboto;
  line-height: 1;
  display: inline-block;
  padding: 2px;
  font-size: 14px;
}

//food-items-navbar
.food-items-navbar {
  padding: 20px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px rgba(232, 45, 52, 0.1);
  .form-control {
    background: $pink-lite;
    padding: 10px 50px;
    border: none;
    outline: none;
    &:focus {
      border: none;
      outline: none;
      box-shadow: none;
    }
  }

  .search-icon {
    position: absolute;
    top: 10px;
    left: 20px;
    color: $red-color;
  }
}

.menu-cat-wrapper {
  .link {
    color: $black-color;
    font-family: $raleway;
    font-weight: 600;
    &.active {
      color: $red-color;
    }
  }
}

// dish list
.dish-list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .dish-card {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(232, 45, 52, 0.1);
    overflow: hidden;
    position: relative;
    width: 48.7069%;
    margin-top: 20px;

    .title {
      font-family: $raleway;
      font-weight: 600;
    }
  }
  .items-img {
    width: 100px;
  }
}

// order-info
.order-info {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 5px 20px 0px rgba(232, 45, 52, 0.1);
  height: 100%;
  padding-bottom: 60px;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 20px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    background: $white-color;
    border: 1px solid $red-color;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 0px;
    bottom: 0px;
    background-color: $red-color;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: $red-color;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px $red-color;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(38px);
    -ms-transform: translateX(38px);
    transform: translateX(38px);
    background: $white-color;
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .title {
    font-family: $roboto;
    font-weight: 500;
  }
  .order-edit {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 5px 20px 0px rgba(232, 45, 52, 0.1);
    padding: 5px;
    display: inline-block;

    .edit-btn {
      border: none;
      background: transparent;
      padding: 0;
      margin: 0;
      color: $red-color;
    }
  }

  .inner-box {
    width: 32%;
    margin-left: auto;
    margin-right: auto;
    @include screen-1200 {
      width: 70%;
    }
    @include desktop {
      width: 90%;
    }
    @include sm-device {
      width: 90%;
    }
  }
  .cutome-hr {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: $red-color;
  }
}
