/* Author CSS */
body {
  margin: 0;
  color: $black-color;
  font-family: $roboto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1.2;
  margin-bottom: 0;
  font-family: $raleway;
}

h1 {
  color: $black-color;
  font-size: 72px;
  @include portrait-phone {
    font-size: 40px;
  }
}

h2 {
  color: $black-color;
  font-size: 40px;
  @include portrait-phone {
    font-size: 36px;
  }
}

h3 {
  color: $black-color;
  font-size: 36px;
  font-weight: 500;
  @include portrait-phone {
    font-size: 32px;
  }
}

h4 {
  color: $black-color;
  font-size: 24px;
  transition: $transition;
  font-weight: 500;
  @include portrait-phone {
    font-size: 20px;
  }
}

h5 {
  color: $black-color;
  font-size: 18px;
  font-weight: 500;
  @include portrait-phone {
    font-size: 16px;
  }
}

h6 {
  color: $black-color;
  font-size: 16px;
  @include portrait-phone {
    font-size: 14px;
  }
}

a {
  transition: $transition;
}

p {
  color: $black-color;
  margin-bottom: 10px;
  @include portrait-phone {
    font-size: 14px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a:hover,
a:focus {
  text-decoration: none;
  outline: none;
}

input:focus,
textarea:focus,
select:focus,
button:focus,
.slick-slide {
  outline: none;
}

button {
  cursor: pointer;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
